:root {
    --navcolor: #463f3a;
    --primary-color: #8a817c;
    --secondary-color: #bcb8b1;
    --textcolor: #faf3ee;
    --pinkcolor: #e0afa0;
}

.my-navcolor {
color: var(--navcolor);
}

.my-primary-color {
color: var(--primary-color);
}

.my-secondary-color {
color: var(--secondary-color);
}

.my-text-color {
color: var(--textcolor);
}

.my-pinkcolor {
color: var(--pinkcolor);
}
  
  