.my-navcolor {
    background-color: #463f3a;
    color: #ffffff;
  }
  
  .my-primary-color {
    color: #8a817c;
  }
  
  .my-secondary-color {
    color: #bcb8b1;
  }
  
  .my-text-color {
    color: #faf3ee;
  }
  
  .my-pinkcolor {
    color: #e0afa0;
  }
  