.my-navcolor {
    background-color: #463f3a;
    color: #ffffff;
  }
  
  .my-primary-color {
    color: #8a817c;
  }
  
  .my-secondary-color {
    color: #bcb8b1;
  }
  
  .my-text-color {
    color: #faf3ee;
  }
  
  .my-pinkcolor {
    color: #e0afa0;
  }
  

.btn-facebook {
background-color: #3b5998;
color: #ffffff;
padding: 5px 15px;
width: 70%;
margin-bottom: 10px;
}

.btn-google {
background-color: #dd4b39;
color: #ffffff;
padding: 5px 25px;
width: 70%;
}

.sm_auth{
    list-style: none;
}

.list-group i {
    margin-right: 10%;
}

